<div ng-controller="HighstocksCtrl">

<h3>{{message}}</h3>


<div>
          <input ng-model="chartConfig.title.text" />
          <button ng-click="addSeries()">Add Series</button>
          <button ng-click="addPoints()">Add Points to Random Series</button>
          <button ng-click="removeRandomSeries()">Remove Random Series</button>
          <button ng-click="swapChartType()">Line/Bar</button>
          <button ng-click="toggleLoading()">Loading?</button>
        </div>
        <div>
          <highchart id="chart1" config="chartConfig"></highchart>
        </div>

</div>
